.socials {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0px !important;
}

.socials span {
  display: inline-block !important;
  margin-right: 2vw !important;
  font-weight: normal !important;
}

.socials span a {
  font-weight: normal !important;
}

#profile {
  width: 24vw;
  padding: 4vh 3vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: var(--background-image) center center;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: fixed;
  color: #fff !important;
}

#profile_img {
  width: 180px;
  height: 180px;
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 5px;
  background: var(--profile-image) center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#profile div {
  font-weight: bold;
  margin: 1.5vh 0px;
}

#username {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#username span {
  font-size: 24px;
}

#userbio {
  font-size: 26px;
  font-family: "Questrial", sans-serif;
  width: 100%;
}

#about {
  font-size: 18px;
  font-family: "Questrial", sans-serif;
}

#about a,
#username a {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

#about a:hover,
#username a:hover {
  text-decoration: underline;
}

#about span {
  margin: 1vh 0px;
  display: block;
}

#about span i {
  font-size: 16px;
}

@media (max-width: 800px) {
  #profile {
    width: 90vw;
    padding: 4vh 5vw;
    height: 60vh;
    text-align: center;
    position: relative;
  }

  #profile_img {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0px auto !important;
  }
}
